<div class="modal-body">
    <div class="custom-modal-header">
        <div class="back-btn" (click)="goBack()">< Back</div>

        <p>WHAT IS METABRICKS?</p>
    </div>
    
    <div class="custom-modal-content">
        <div class="left-section">
            <img src="/assets/images/what-popup-icon.png" alt="">
            <h2>Greetings, builder. Welcome to Metabricks.</h2>
        </div>
        
        <div class="right-section">
            <p>This is not a normal NFT project. This is a construction site for the operating systems of the future.</p>
            <p>Your assignment is to hodl bricks and help us finish building the Metaverse. </p>
        </div>
    </div>
</div>