@keyframes pixelate-out {
  0% {
    filter: none;
    opacity: 1;
    transform: scale(1);
  }
  60% {
    filter: url('#pixelate');
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    filter: url('#pixelate');
    opacity: 0;
    transform: scale(0.8);
  }
}

.pixelate-leave {
  animation: pixelate-out 500ms forwards;
}
