<div class="modal-body">
    <div class="custom-modal-content">
      <div class="first-box">
        <img src="/assets/images/simple-brick-large.png" alt="Brick Image">
      </div>

      <div class="second-box">
        <h2>Metabrick Official Supply</h2>

        <div class="list-data-container">
          <div class="list-data">
            <p>Number</p>
            <span>{{brick.brickNumber}}</span>
          </div>
  
          <div class="list-data">
            <p>Mint Price</p>
            <span>{{brick.mintPrice}}</span>
          </div>
  
          <div class="list-data">
            <p>Position</p>
            <span>{{brick.position}}</span>
          </div>
        </div>
      </div>
      
      <div class="third-box">
        <div class="list-data-container">
          <ng-container *ngIf="loadingAttributes">Loading attributes...</ng-container>
          <ng-container *ngIf="attributesError">Error: {{attributesError}}</ng-container>
          <ng-container *ngIf="!loadingAttributes && !attributesError && attributes.length">
            <div class="list-data" *ngFor="let attr of attributes">
              <p>{{attr.trait_type || attr.type || 'Attribute'}}</p>
              <span>
                <ng-container *ngIf="(attr.trait_type === 'Rarity' || attr.trait_type === 'Type' || attr.type === 'Rarity' || attr.type === 'Type') && !isMinted">??????</ng-container>
                <ng-container *ngIf="!(attr.trait_type === 'Rarity' || attr.trait_type === 'Type' || attr.type === 'Rarity' || attr.type === 'Type') || isMinted">{{attr.value}}</ng-container>
              </span>
            </div>
          </ng-container>
          <ng-container *ngIf="!loadingAttributes && !attributesError && !attributes.length">
            <div class="list-data">
              <p>No attributes found.</p>
            </div>
          </ng-container>
        </div>

        <p class="link">Hash↗</p>

        <button class="button" (click)="openShareModal()">SHARE↗</button>

        <ng-container *ngIf="brick.metadataUri; else notAvailable">
          <button class="button light-color" (click)="openMintModal()" [disabled]="isMinted" *ngIf="!isMinted">MINT</button>
          <div *ngIf="isMinted" style="color: #c00; font-weight: bold; margin-top: 10px;">This brick has already been minted</div>
        </ng-container>
        <ng-template #notAvailable>
          <div style="color: #c00; font-weight: bold; margin-top: 10px;">This brick is not available for minting yet</div>
        </ng-template>
      </div>
    </div>
  </div>