<div class="modal-body">
  <div class="custom-modal-header">
      <div class="back-btn">< Back</div>

      <p>WHITEPAPER</p>
  </div>
  
  <div class="custom-modal-content">
      <div class="section-heading">
        <img src="/assets/images/whitepaper-icon.png" alt="">
        <h2>The Blueprint <span>(What are you supporting)</span></h2>
      </div>
      
      <div class="list-container">
        <div class="single-list">
          <p>A stable, resilient, decentralised platform to ensure the sovereignty of all users, and prevent the centralisation of power and influence as much as possible.</p>
        </div>

        <div class="single-list">
          <p>Easy to build on, providing everyone from developers to regular people advanced capabilities and benefits, such as scalability to host state intensive dApps.</p>
        </div>

        <div class="single-list">
          <p>Facilitating the seamless transfer of information of any kind, between different apps and websites, whether web2 or web3.</p>
        </div>

        <div class="single-list">
          <p>highly secure, so that users can trust it with valuable things.</p>
        </div>

        <div class="single-list">
          <p>an internal karma system that encourages all users to do good - both online and in the real world.</p>
        </div>

        <div class="single-list">
          <p>a phygital metaverse</p>
        </div>

        <div class="single-list">
          <p>a .NET bridge to Holochain</p>
        </div>

        <div class="single-list">
          <p>a low-code Metaverse generator that can write to any blockchain</p>
        </div>
      </div>
  </div>
</div>