<div class="modal-body">
    <div class="custom-modal-header">
        <div class="back-btn">< Back</div>

        <p>SHARE & REFERRALS</p>
    </div>
    
    <div class="custom-modal-content">
        <div class="left-section">
            <img src="/assets/images/share-popup-icon.png" alt="">
            <h2>Another brick bites the dust!</h2>
        </div>
        
        <div class="right-section">
            <p>We're grateful for your support to Metabricks!</p>
            <p>You could also share and refer the Metabricks to a friend. Earning 5% of the sales made from the link.</p>
        </div>
    </div>

    <div class="social-icons-list">
        <div class="single-social">
            <div class="icon"></div>
            
            <p>Socials1</p>
        </div>

        <div class="single-social">
            <div class="icon"></div>
            
            <p>Socials1</p>
        </div>

        <div class="single-social">
            <div class="icon"></div>
            
            <p>Socials1</p>
        </div>

        <div class="single-social">
            <div class="icon"></div>
            
            <p>Socials1</p>
        </div>
    </div>

    <div class="ref-link">
        <p>Link <span>mek.gallery\f78ds9afdsahu</span></p>
    </div>

    <p class="bottom-text">
        You could share and refer the Metabricks to a friend. Earning 5% of the sales made from the link.
    </p>
</div>