<div class="modal-body">
    <div class="custom-modal-header">
        <div class="back-btn" (click)="goBack()" style="cursor: pointer; user-select: none; position: relative; z-index: 10;">< Back</div>
  
        <p>HOW METABRICK WORKS?</p>
    </div>
    
    <div class="custom-modal-content">
        <div class="list-container">
          <div class="single-list">
            <img src="/assets/images/how-popup-icon-01.png" alt="">

            <p>Buy Metabricks to remove them from the wall</p>
          </div>
  
          <div class="single-list">
            <img src="/assets/images/how-popup-icon-02.png" alt="">

            <p>Once the wall is destroyed, each brick becomes a SAFT</p>
          </div>
  
          <div class="single-list">
            <img src="/assets/images/how-popup-icon-03.png" alt="">
            <p>Top brick hodlers after 25%, 50%, 75%, and 100% of bricks are held receive exlcusive gifts</p>
          </div>
  
          <div class="single-list">
            <img src="/assets/images/how-popup-icon-04.png" alt="">

            <p>Each mint would hand you different tiers of bricks; 65% common, 30% rare, and 5% legendary.</p>
          </div>
        </div>
    </div>
  </div>